@import "./../../common/styles/appStyles.scss";


.main__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 5vh;
}

.toDo__input {
    border-width: 2px;
    font-weight: 600;
    border-color: $main-color;
    width: 70vw;
    height: 40px;
    transition: .35s;
}

.add__btn {
    padding: 7px;
    font-size: 4vh;
    cursor: pointer;
    transition: .75s ease;

    &:hover {
        color: $primary-color;
        transition: color .75s;
    }

    &:active {
        transform: rotate(180deg);
        color: $primary-active-color;
        transition: .35s ease;
    }
}