@import "./../../common/styles/appStyles.scss";


.main__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(1vh + 1vw) 0;

    .logoText {
        font-size: calc(3vh + 2vw);

        .toDo__logo__span {
            color: $primary-color;

            .last__child {
                color: $primary-active-color;
            }
        }
    }
}

.toDo__input {
    border-width: 2px;
    font-weight: 600;
    border-color: $main-color;
    width: 70vw;
    height: 40px;
    transition: .35s;
}

.add__btn {
    padding: 7px;
    font-size: 4vh;
    cursor: pointer;

    @include btn-hover-active($primary-color, $primary-active-color, 180deg);
}