

.modal__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // @media (max-width: 800px) {
    //     flex-direction: column;

    //     .info__holder {
    //         margin-top: 20px;
    //         margin-left: 0px;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-around;
    //     }
    // }
}